# Python Fundamental

What is Programming Language ?

--> set of predefined words that are combined into a program according to predefined rules(syntax). 
--> used to develop the application which helps in turn to get our task done.

In [ ]:
Python is a high-level programming language celebrated for its simplicity, readability, and versatility.
Python is the preferred programming language of most data scientists.

In [ ]:
People choose Python as their first programming language because:
It is easy to learn, making it the best option for beginners.
It has extensive inbuilt libraries.
It is portable.
It has sturdy frameworks.
It is fast.
It is open source and free.
It is used in Data Science.

In [ ]:
Difference between High Level and Low level languages

Both High level language and low level language are the programming languages’s types. The main difference between high level language and low level language is that, Programmers can easily understand or interpret or compile the high level language in comparison of machine. On the other hand, Machine can easily understand the low level language in comparison of human beings. Examples of high level languages are C, C++, Java, Python, etc.
High level language needs compiler or interpreter for translation.

Low level language needs assembler for translation.
It is not commonly used now-a-days in programming.

What is Source code, Byte code and Machine code in Python?

Source Code :- The code, written to develop the application.

Byte code:- A fixed set of instructions that represents all operations like arithmetic, comparison, etc.
The Byte code generated after the compilation of source code.

Machine code:- The code generated after interpretation of byte code.

In [ ]:
#Difference between Compiler and Interpreter


The Compiler and Interpreter, both have similar works to perform. Interpreters and Compilers convert the Source Code (HLL) 
to Machine Code (understandable by Computer). 
In general, computer programs exist in High-Level Language that a human being can easily understand. 
But computers cannot understand the same high-level language, so for computers, we have to convert them into machine language 
and make them readable for computers.

Compiler
The Compiler is a translator which takes input i.e., High-Level Language, and produces an output of low-level language i.e. machine or assembly language. The work of a Compiler is to transform the codes written in the programming language into machine code (format of 0s and 1s) so that computers can understand.

In [ ]:
Execution of the program takes place only after the whole program is compiled.

In [ ]:
C, C++, C#, etc are programming languages that are compiler-based.

Interpreter
An Interpreter is a program that translates a programming language into a comprehensible language. The interpreter converts high-level language to an intermediate language. It contains pre-compiled code, source code, etc.

In [ ]:
It translates only one statement of the program at a time.
Execution of the program happens after every line is checked or evaluated.

In [ ]:
Python, Ruby, Perl, SNOBOL, MATLAB, etc are programming languages that are interpreter-based.

In [ ]:
Python is an interesting case—it combines both compilation and interpretation.

(1)Compilation: When you import a Python module in another program, Python generates a .pyc file (bytecode) for that module. This compilation step occurs behind the scenes, but it doesn’t produce machine code directly. Instead, Python compiles the code into bytecode, which is an intermediate representation.

(2)Interpretation: When you run Python code directly from the terminal or command prompt, the Python interpreter executes it. If you use a file containing Python code (e.g., running it in an IDE or via the command prompt), the entire code is first compiled into bytecode and then executed

In summary, Python takes care of both compilation (to bytecode) and interpretation. So, you could say Python is both compiled and interpreted, although the compilation part is hidden from the programmer

An IDE, or Integrated Development Environment, is a software application that provides comprehensive facilities for software development. It combines several essential tools into a single program, making it easier for programmers to write, test, and execute code.

In [ ]:
Jupyter

In [ ]:
The Jupyter Notebook is an open source web application that you can use to 
create and share documents that contain live code, equations, visualizations, and text.

In [ ]:
The Jupyter Notebook is not included with Python, so if you want to try it out, you will need to install Jupyter.

Installation
If so, then you can use a handy tool that comes with Python called pip to install Jupyter Notebook like this:

The most popular distribution of Python is Anaconda. Anaconda has its own installer tool called conda that you could use for installing a third-party package. However, Anaconda comes with many scientific libraries preinstalled, including the Jupyter Notebook, so you don’t actually need to do anything other than install Anaconda itself.

Jupyter is an open-source project that provides a flexible and interactive environment for data science, scientific computing, and machine learning. 

Here are the key components:-

Jupyter Notebook: The original web application for creating and sharing computational documents. It allows you to write and execute code, create visualizations, and include explanatory text in a single document. You can use it with over 40 programming languages, including Python, R, Julia, and Scala.

JupyterLab: A next-generation interface that extends the capabilities of Jupyter Notebook. It offers a modular design, allowing users to configure and arrange workflows. You can create notebooks, edit code files, and explore data using JupyterLab.

Kernels: These are processes that run interactive code in specific programming languages . Kernels handle code execution and respond to requests like tab completion and introspection.

# Anaconda

Anaconda is a distribution of the Python  programming languages for scientific computing, data science, 
machine learning, and artificial intelligence. It includes a package manager, Jupyter Notebook, and other tools.

Jupyter Notebook is an open-source IDE that allows to create and share documents that 
contain live code, equations, visualizations and narrative text.

we can use Jupyter Notebook with Anaconda by installing Anaconda and then 
launching Jupyter Notebook from the Anaconda Navigator .

Anaconda Installation:-

In [ ]:
#https://www.anaconda.com/

## jupyter

start-->ANACONDA-->Jupyter Notebook

Jupyter notebook -->interactive development environment for notebooks- USE FOR PYTHON CODING

We are learing jupyter notebook

In [ ]:
Starting the Jupyter Notebook Server

Now that you have Jupyter installed,  To get started, all you need to do is open up your terminal application and go to a folder of your choice.

In [ ]:
Creating a Notebook

All you need to do is click on the New button (upper right), and it will open up a list of choices.

In [ ]:
Naming
You will notice that at the top of the page is the word Untitled.
This is the title for the page and the name of your Notebook.
 let’s change it!

Just move your mouse over the word Untitled and click on the text.

The Menus
The Jupyter Notebook has several menus that you can use to interact with your Notebook. 
The menu runs along the top of the Notebook just like menus do in other applications. Here is a list of the current menus:

File
Edit
View
Run
Kernel
Help
Code-Markdown

The first menu is the File menu. In it, you can create a new Notebook or open a preexisting one. This is also where you would go to rename a Notebook.

Next is the Edit menu. Here you can cut, copy, and paste cells. This is also where you would go if you wanted to delete, split, or merge a cell.

In [ ]:
cell - where you write the code

cell can be of two types

1. coding cell - where you can write only the python code

2. markdown cell - where you can write anything (notes)

In [ ]:
Jupytr notebook extension:-
.py and .ipynb

In [ ]:
What is the difference between a .py file and .ipynb file?

.py is a regular python file. It's plain text and contains just your code.

.ipynb is a python notebook and it contains the notebook code, the execution results and other internal settings in a specific format. You can just run .ipynb on the jupyter environment.

In [ ]:
PYTHON-
CORE PYTHON 
NUMPY
PANDAS
MATPLOTLIB/SEABORN

# LETS START WORKING ON PYTHON -- JUPYTR NOTEBOOK

#### print statement are used to print something on the screen

# Print Statment
## print Statment
### print statment
#### print statement
##### print statement

print statement are used to print something on the screen

1. point1
2. point2
3. point3

In [2]:
print('Siddhant')

Siddhant

In [9]:
print(10+20)

30

In [8]:
print("10")

10

In [4]:
print("we are learning python")

we are learning python

In [5]:
print(we are learning python)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2661497197.py, line 1)

In [6]:
print('we are learning python')

we are learning python

jupyter notebook -- filename.ipynb (interactive python notebook)

uniserval extension python file - filename.py

#  ways to execute python file

1. jupyter notebook
2. python interpreter  -- > python shell --> area where we can write python code
3. pyhton file and "RUN" through terminal

In [333]:
"""hello world
hello
hello
hello
hi
pune
"""

'hello world\nhello\nhello\nhello\nhi\npune\n'

In [335]:
#hello world

In [ ]:
# literals

- any value that you see in programming language

types of literals

1. int literals - any value without a decimal point for eg 10, 200, -900,1000
2. float literals - any value with a decimal point for 10.0 , -99.999 , 100.23
3. complex literals - any number that can be represented in the form of a+bj where a is real and b is 
imaginary for eg , 10+6j , -11-7j
4. None literals - None
5. Boolean literals - any value that is True / False
6. string - any value that can be wriiten inside a '...' , "...." , """..."""

In [10]:
a = 10 # int
b = -22.0 # float
c = True # boolean
d = 'Mithil' # string
e = None # none
f = 200-7j # complex

# 10 , -22.0 , True etc thes are called as literlas

In [2]:
print(a)

10

In [11]:
print(d)

Mithil

In [12]:
d="Abhishek"

In [13]:
print(d)

Abhishek

In [14]:
a=100

In [16]:
print(a)

100

In [17]:
print(A)

NameError: name 'A' is not defined

constant and varibale are subset of indentifiers

identifiers - any name used in python prohram so it can be a constant name , varibale name , 
class name , function

Rules - 

1. allowed characters A-Z , a-z , 0-9 , _
2. not allowed characters special characters
3. you cannot start with a number 0-9
4. Identifers are case sensitive
5. all letters for constant should be capital (optional)
6. Reserved word should not be used as identifer

In [18]:
#  allowed characters A-Z , a-z , 0-9 , _

abc = 20

# a - varibale
# = - op
# 20 - literal

In [19]:
# you cannot start with a number 0-9

abhi10 = 20

In [20]:
10abhi = 50

SyntaxError: invalid decimal literal (2823653107.py, line 1)

In [21]:
# Identifers are case sensitive

a = 10
A = 20
print("A is ",A)
print("a is",a)

A is  20
a is 10

In [22]:
# Identifers are case sensitive

a = 10
A = 20
print("A is \n",A)
print("a is   print in next line  \n   ",a)

A is
 20
a is   print in next line
    10

In [23]:
# Reserved word should not be used as identifer

"""
Reserved words - are those words which is alrerady takken by python for internal use
"""

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [24]:
while = 100

SyntaxError: invalid syntax (805873029.py, line 1)

NEXT TOPIC:-

Types of operation that we can perform on integers

In [25]:
print(10+2) # +

print(10-2) # -

print(10*2) # *

print(10/2) # but the answer will be always in the float

print(10/3)

print(10.0//3) #floor divsion

print(10//3.0)

print(10%3) # modulo --> remainder

print(15%4)

print(100**2)

print(pow(100,2))

12
8
20
5.0
3.3333333333333335
3.0
3.0
1
3
10000
10000

In [17]:
# Comaprison operator , > , >= , <= , <

"""
- it always gives the output(return) value inf form True / False (Bool)
- int vs int
- float vs float
- int vs float
- str vs str
"""

'\n- it always gives the output(return) value inf form True / False (Bool)\n- int vs int\n- float vs float\n- int vs float\n- str vs str\n'

In [26]:
a = 100
b = 20

print(a<b)

False

In [27]:
a = 100
b = 20

print(a>b)

True

In [20]:
a = 10
b = 20.5

print(a<=b)

True

In [28]:
a = 'abc'
b = 100.0

print(a<b)

TypeError: '<' not supported between instances of 'str' and 'float'

In [30]:
a = 'abc'
b = "xyz"

print(a<b)

True

In [31]:
x="abc"
y="aac"
print(x<y)

False

In [32]:
a="z"
b="m"
print(a>b)

True

transformation of string to no. 
a,m,z

a-->0
m-->1
z-->2

if only m , z
- m-->0 z-->1

In [26]:
#it is following dictionary

In [33]:
a="xyz"

In [34]:
print(a)

xyz

In [35]:
b='abc'

In [30]:
print(b)

abc

In [38]:
a="""long sentence also 
longggggggg lonnngggggg"""
print(a)

long sentence also
longggggggg lonnngggggg

In [39]:
a="""long sentence also
longggggggg
lonnngggggg

qqqqqq
qqqqqqqq
ssa
ss

aaaaaa

"""

In [40]:
print(a)

long sentence also
longggggggg
lonnngggggg

qqqqqq
qqqqqqqq
ssa
ss

aaaaaa

In [33]:
a="hello lohngggg
longggggg"

SyntaxError: unterminated string literal (detected at line 1) (1172556285.py, line 1)

In [41]:
a = 'a'
b = "b"

print(a<b)

True

department:- sales,marketing,hrd
    hrd-->0
    marketing-->1
    sales-->2

In [35]:
# typecasting
# input and out function in python
# float
# none
# complex
# string - intro

In [42]:
# typecasting - converting one datatype to another

int()
float()
str()
complex()
bool()

list()
tuple()
dict()
set()

set()

In [44]:
a = 10
print(type( a))

# int to str

b = str(10)
print(type(b),b)

<class 'int'>
<class 'str'> 10

In [45]:
a+a

20

In [46]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
b+b

'1010'

In [49]:
x="india"
y="usa"

In [50]:
x+y

'indiausa'

In [43]:
# Input and output function in python

Input - which takes input from the user
- input fucntion always return a string data type

In [51]:
a = 20
b = 20

print(a+b)

40

In [52]:
# write a program to take first name and second name from user and print as a full name

a = (input('enter the first number value of a:'))
b = (input('enter the second number value of b'))
print(a+" "+b)

enter the first number value of a: 50
enter the second number value of b 100

50 100

In [53]:
a = input('enter the first number:')
b = input('enter the second number')

print(type(a),a)
print(type(b) ,b)

print(a+b)

# after giving the input press the enter button

enter the first number: 200
enter the second number 300

<class 'str'> 200
<class 'str'> 300
200300

In [54]:
'10'+'10'

'1010'

In [55]:
"Ram"+"shyam"

'Ramshyam'

In [56]:
a = float(input('enter the first number:'))
b = float(input('enetr the second number'))
print(type(a),a)
print(type(b) ,b)
print(a+b)

enter the first number: 100
enetr the second number 300

<class 'float'> 100.0
<class 'float'> 300.0
400.0

In [57]:
# eval
sums = 200
a = eval(input('enter the first number:'))
b = eval(input('enetr the second number'))
print(type(a),a)
print(type(b) ,b)
print(a+b)

enter the first number: 400
enetr the second number 350

<class 'int'> 400
<class 'int'> 350
750

In [59]:
# write a program to take first name and second name from user and print as a full name

a = (input('enter the first name:'))
b = (input('enetr the second name'))
print(a+" "+b)

enter the first name: ajay
enetr the second name jay

ajay jay

In [55]:
a = (input('enter the first number:'))
b = (input('enetr the second number'))
print(a,b)

enter the first number:30
enetr the second number40
30 40

In [60]:
First_Name = eval(input("Enter first name : ") )
Last_Name = eval(input("Enter last name : ")) 
print("My First name is :", First_Name,"and my Last name is :",Last_Name)

Enter first name :  mks

NameError: name 'mks' is not defined

Python provides us with a number of in-built data structures such as lists, tuples and dictionaries
that are used to store and organize the data in an efficient manner.

list=[]
tuple=()
dictionary={}

In [ ]:
# String Data type

In [ ]:
#anything that can be written inside a '...' . "..." , """...."""

In [1]:
s1 = 'python'
print(s1, type(s1))
s1 = "python"
print(s1, type(s1))
s1 = """python"""
print(s1, type(s1))

python <class 'str'>
python <class 'str'>
python <class 'str'>

In [2]:
a = "this is python's class"
print(a)

this is python's class

In [3]:
a = 'this is a "GBU" class'
print(a)

this is a "GBU" class

In [ ]:
a ="""this is a
single quotes"""

print(a)

In [ ]:
'''
hey this a 
a multiple """line""" commenet
'''

print('hey')

In [4]:
100

print('hey')

hey

# pandas

In [ ]:
# pandas

#!pip install pandas

In [61]:
import pandas as pd

import numpy as np

In [ ]:
# why pandas

--> can load any kind of tabular dataframe - excel , csv , tsv ,zip
--> get statistics
--> manipulate the data
--> can store qany data type
--> hetrogenous

In [ ]:
we have two data structure in pandas

1. Series - 1D
2. Dataframe - 2D

In [ ]:
# Series

In [60]:
import pandas as pd

In [61]:
# 1. list

player = ['messi' , 'ronaldo' , 'pedri' , 'kante' , 'salah']

# series

a = pd.Series(player)
a

0      messi
1    ronaldo
2      pedri
3      kante
4      salah
dtype: object

In [513]:
a = pd.Series(player, index = ['p1' , 'p2' , 'p3' , 'p4' , 'p5'])
a

p1      messi
p2    ronaldo
p3      pedri
p4      kante
p5      salah
dtype: object

In [62]:
import os
os.getcwd()
#cwd- current working directory

'C:\\Users\\Dell\\Desktop\\python_class_codes'

In [ ]:
# read_csv--> to read the csv file

In [64]:
dataframe = pd.read_csv("ted_data10.csv")# here ted_data is a csv file availbe in my folder

dataframe

FileNotFoundError: [Errno 2] No such file or directory: 'ted_data10.csv'

In [63]:
dataframe = pd.read_csv("ted_data.csv")# here ted_data is a csv file availbe in my folder

dataframe

,name_speaker,speaker_occupation,title,views,comments
0,Ken Robinson,Author/educator,Do schools kill creativity?,47227110,4553
1,Al Gore,Climate advocate,Averting the climate crisis,3200520,265
2,David Pogue,Technology columnist,Simplicity sells,1636292,124
3,Majora Carter,Activist for environmental justice,Greening the ghetto,1697550,200
4,Hans Rosling,Global health expert; data visionary,The best stats you've ever seen,12005869,593
5,Tony Robbins,Life coach; expert in leadership psychology,Why we do what we do,20685401,672
6,Julia Sweeney,"Actor, comedian, playwright",Letting go of God,3769987,919
7,Joshua Prince-Ramus,Architect,Behind the design of Seattle's library,967741,46
8,Dan Dennett,"Philosopher, cognitive scientist",Let's teach religion -- all religion -- in sch...,2567958,582
9,Rick Warren,"Pastor, author",A life of purpose,3095993,900

In [65]:
data1 = pd.read_csv("ted_data.csv")# here ted_data is a csv file availbe in my folder

data1.head()# by default 5 top rows

,name_speaker,speaker_occupation,title,views,comments
0,Ken Robinson,Author/educator,Do schools kill creativity?,47227110,4553
1,Al Gore,Climate advocate,Averting the climate crisis,3200520,265
2,David Pogue,Technology columnist,Simplicity sells,1636292,124
3,Majora Carter,Activist for environmental justice,Greening the ghetto,1697550,200
4,Hans Rosling,Global health expert; data visionary,The best stats you've ever seen,12005869,593

In [66]:
data1.tail()# by default 5 last rows

,name_speaker,speaker_occupation,title,views,comments
5,Tony Robbins,Life coach; expert in leadership psychology,Why we do what we do,20685401,672
6,Julia Sweeney,"Actor, comedian, playwright",Letting go of God,3769987,919
7,Joshua Prince-Ramus,Architect,Behind the design of Seattle's library,967741,46
8,Dan Dennett,"Philosopher, cognitive scientist",Let's teach religion -- all religion -- in sch...,2567958,582
9,Rick Warren,"Pastor, author",A life of purpose,3095993,900

In [67]:
data1.tail(2)# by default 2 last rows

,name_speaker,speaker_occupation,title,views,comments
8,Dan Dennett,"Philosopher, cognitive scientist",Let's teach religion -- all religion -- in sch...,2567958,582
9,Rick Warren,"Pastor, author",A life of purpose,3095993,900

In [68]:
data1.head(10)# by default 10 first rows

,name_speaker,speaker_occupation,title,views,comments
0,Ken Robinson,Author/educator,Do schools kill creativity?,47227110,4553
1,Al Gore,Climate advocate,Averting the climate crisis,3200520,265
2,David Pogue,Technology columnist,Simplicity sells,1636292,124
3,Majora Carter,Activist for environmental justice,Greening the ghetto,1697550,200
4,Hans Rosling,Global health expert; data visionary,The best stats you've ever seen,12005869,593
5,Tony Robbins,Life coach; expert in leadership psychology,Why we do what we do,20685401,672
6,Julia Sweeney,"Actor, comedian, playwright",Letting go of God,3769987,919
7,Joshua Prince-Ramus,Architect,Behind the design of Seattle's library,967741,46
8,Dan Dennett,"Philosopher, cognitive scientist",Let's teach religion -- all religion -- in sch...,2567958,582
9,Rick Warren,"Pastor, author",A life of purpose,3095993,900

In [517]:
data1 = pd.read_csv("ted_data100.csv")# here ted_data is a csv file availbe in my folder

data1.head()# by default 5 top rows

FileNotFoundError: [Errno 2] No such file or directory: 'ted_data100.csv'

In [69]:
path="C:\\Users\\Dell\\Desktop\\python_class_codes/ted_data.csv"
#path1="C:\\Users\\Toshiba\\Desktop\\corporate_training\\python_class_codes\\ted_data.csv"
#path2=r"C:\\Users\Toshiba\Desktop\corporate_training\python_class_codes\ted_data.csv"

In [70]:
dataframe1 = pd.read_csv(path)
dataframe1.head(2)

,name_speaker,speaker_occupation,title,views,comments
0,Ken Robinson,Author/educator,Do schools kill creativity?,47227110,4553
1,Al Gore,Climate advocate,Averting the climate crisis,3200520,265

dataframe2 = pd.read_csv(path2)
dataframe2.head(2)

In [71]:
path2="C:\\Users\\Dell\\Desktop\\python_class_codes/football_worldcup.xlsx"

In [72]:
# read_excel-- we can read excel dataset
df = pd.read_excel(path2)
df

   Year       Country    Winner   Runners-Up  GoalsScored  MatchesPlayed
0  1990         Italy  Germany     Argentina          115             52
1  1994           USA    Brazil        Italy          141             52
2  1998        France    France       Brazil          171             64
3  2002         Japan    Brazil      Germany          161             64
4  2006       Germany     Italy       France          147             64
5  2010  South Africa     Spain  Netherlands          145             64
6  2014        Brazil   Germany    Argentina          171             64

In [77]:
df.sample(2)

   Year Country   Winner Runners-Up  GoalsScored  MatchesPlayed
2  1998  France   France     Brazil          171             64
6  2014  Brazil  Germany  Argentina          171             64

In [80]:
df["Country"]

0           Italy
1             USA
2          France
3           Japan
4         Germany
5    South Africa
6          Brazil
Name: Country, dtype: object

In [81]:
df[["Winner","Country"]]

     Winner       Country
0  Germany          Italy
1    Brazil           USA
2    France        France
3    Brazil         Japan
4     Italy       Germany
5     Spain  South Africa
6   Germany        Brazil

In [95]:
df100=df[["Winner","Country","MatchesPlayed"]]

In [96]:
df100

     Winner       Country  MatchesPlayed
0  Germany          Italy             52
1    Brazil           USA             52
2    France        France             64
3    Brazil         Japan             64
4     Italy       Germany             64
5     Spain  South Africa             64
6   Germany        Brazil             64

In [85]:
df200=df100.drop(["MatchesPlayed"])

KeyError: "['MatchesPlayed'] not found in axis"

In [97]:
df200=df100.drop(["MatchesPlayed"],axis=1)

In [98]:
df200

     Winner       Country
0  Germany          Italy
1    Brazil           USA
2    France        France
3    Brazil         Japan
4     Italy       Germany
5     Spain  South Africa
6   Germany        Brazil

In [99]:
df100

     Winner       Country  MatchesPlayed
0  Germany          Italy             52
1    Brazil           USA             52
2    France        France             64
3    Brazil         Japan             64
4     Italy       Germany             64
5     Spain  South Africa             64
6   Germany        Brazil             64

In [100]:
df100.drop(["MatchesPlayed"],axis=1)

     Winner       Country
0  Germany          Italy
1    Brazil           USA
2    France        France
3    Brazil         Japan
4     Italy       Germany
5     Spain  South Africa
6   Germany        Brazil

In [101]:
df100

     Winner       Country  MatchesPlayed
0  Germany          Italy             52
1    Brazil           USA             52
2    France        France             64
3    Brazil         Japan             64
4     Italy       Germany             64
5     Spain  South Africa             64
6   Germany        Brazil             64

In [102]:
df100.drop(["MatchesPlayed"],axis=1,inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14296\3275052906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df100.drop(["MatchesPlayed"],axis=1,inplace=True)

In [103]:
df100

     Winner       Country
0  Germany          Italy
1    Brazil           USA
2    France        France
3    Brazil         Japan
4     Italy       Germany
5     Spain  South Africa
6   Germany        Brazil