# Python Fundamental

What is Programming Language ?

--> set of predefined words that are combined into a program according to predefined rules(syntax). 
--> used to develop the application which helps in turn to get our task done.

In [ ]:
Python is a high-level programming language celebrated for its simplicity, readability, and versatility.
Python is the preferred programming language of most data scientists.

In [ ]:
People choose Python as their first programming language because:
It is easy to learn, making it the best option for beginners.
It has extensive inbuilt libraries.
It is portable.
It has sturdy frameworks.
It is fast.
It is open source and free.
It is used in Data Science.

In [ ]:
Difference between High Level and Low level languages

Both High level language and low level language are the programming languages’s types. The main difference between high level language and low level language is that, Programmers can easily understand or interpret or compile the high level language in comparison of machine. On the other hand, Machine can easily understand the low level language in comparison of human beings. Examples of high level languages are C, C++, Java, Python, etc.
High level language needs compiler or interpreter for translation.

Low level language needs assembler for translation.
It is not commonly used now-a-days in programming.

What is Source code, Byte code and Machine code in Python?

Source Code :- The code, written to develop the application.

Byte code:- A fixed set of instructions that represents all operations like arithmetic, comparison, etc.
The Byte code generated after the compilation of source code.

Machine code:- The code generated after interpretation of byte code.

In [ ]:
#Difference between Compiler and Interpreter


The Compiler and Interpreter, both have similar works to perform. Interpreters and Compilers convert the Source Code (HLL) 
to Machine Code (understandable by Computer). 
In general, computer programs exist in High-Level Language that a human being can easily understand. 
But computers cannot understand the same high-level language, so for computers, we have to convert them into machine language 
and make them readable for computers.

Compiler
The Compiler is a translator which takes input i.e., High-Level Language, and produces an output of low-level language i.e. machine or assembly language. The work of a Compiler is to transform the codes written in the programming language into machine code (format of 0s and 1s) so that computers can understand.

In [ ]:
Execution of the program takes place only after the whole program is compiled.

In [ ]:
C, C++, C#, etc are programming languages that are compiler-based.

Interpreter
An Interpreter is a program that translates a programming language into a comprehensible language. The interpreter converts high-level language to an intermediate language. It contains pre-compiled code, source code, etc.

In [ ]:
It translates only one statement of the program at a time.
Execution of the program happens after every line is checked or evaluated.

In [ ]:
Python, Ruby, Perl, SNOBOL, MATLAB, etc are programming languages that are interpreter-based.

In [ ]:
Python is an interesting case—it combines both compilation and interpretation.

(1)Compilation: When you import a Python module in another program, Python generates a .pyc file (bytecode) for that module. This compilation step occurs behind the scenes, but it doesn’t produce machine code directly. Instead, Python compiles the code into bytecode, which is an intermediate representation.

(2)Interpretation: When you run Python code directly from the terminal or command prompt, the Python interpreter executes it. If you use a file containing Python code (e.g., running it in an IDE or via the command prompt), the entire code is first compiled into bytecode and then executed

In summary, Python takes care of both compilation (to bytecode) and interpretation. So, you could say Python is both compiled and interpreted, although the compilation part is hidden from the programmer

An IDE, or Integrated Development Environment, is a software application that provides comprehensive facilities for software development. It combines several essential tools into a single program, making it easier for programmers to write, test, and execute code.

In [ ]:
Jupyter

In [ ]:
The Jupyter Notebook is an open source web application that you can use to 
create and share documents that contain live code, equations, visualizations, and text.

In [ ]:
The Jupyter Notebook is not included with Python, so if you want to try it out, you will need to install Jupyter.

Installation
If so, then you can use a handy tool that comes with Python called pip to install Jupyter Notebook like this:

The most popular distribution of Python is Anaconda. Anaconda has its own installer tool called conda that you could use for installing a third-party package. However, Anaconda comes with many scientific libraries preinstalled, including the Jupyter Notebook, so you don’t actually need to do anything other than install Anaconda itself.

Jupyter is an open-source project that provides a flexible and interactive environment for data science, scientific computing, and machine learning. 

Here are the key components:-

Jupyter Notebook: The original web application for creating and sharing computational documents. It allows you to write and execute code, create visualizations, and include explanatory text in a single document. You can use it with over 40 programming languages, including Python, R, Julia, and Scala.

JupyterLab: A next-generation interface that extends the capabilities of Jupyter Notebook. It offers a modular design, allowing users to configure and arrange workflows. You can create notebooks, edit code files, and explore data using JupyterLab.

Kernels: These are processes that run interactive code in specific programming languages . Kernels handle code execution and respond to requests like tab completion and introspection.

# Anaconda

Anaconda is a distribution of the Python  programming languages for scientific computing, data science, 
machine learning, and artificial intelligence. It includes a package manager, Jupyter Notebook, and other tools.

Jupyter Notebook is an open-source IDE that allows to create and share documents that 
contain live code, equations, visualizations and narrative text.

we can use Jupyter Notebook with Anaconda by installing Anaconda and then 
launching Jupyter Notebook from the Anaconda Navigator .

Anaconda Installation:-

In [ ]:
#https://www.anaconda.com/

## jupyter

start-->ANACONDA-->Jupyter Notebook

Jupyter notebook -->interactive development environment for notebooks- USE FOR PYTHON CODING

We are learing jupyter notebook

In [ ]:
Starting the Jupyter Notebook Server

Now that you have Jupyter installed,  To get started, all you need to do is open up your terminal application and go to a folder of your choice.

In [ ]:
Creating a Notebook

All you need to do is click on the New button (upper right), and it will open up a list of choices.

In [ ]:
Naming
You will notice that at the top of the page is the word Untitled.
This is the title for the page and the name of your Notebook.
 let’s change it!

Just move your mouse over the word Untitled and click on the text.

The Menus
The Jupyter Notebook has several menus that you can use to interact with your Notebook. 
The menu runs along the top of the Notebook just like menus do in other applications. Here is a list of the current menus:

File
Edit
View
Run
Kernel
Help
Code-Markdown

The first menu is the File menu. In it, you can create a new Notebook or open a preexisting one. This is also where you would go to rename a Notebook.

Next is the Edit menu. Here you can cut, copy, and paste cells. This is also where you would go if you wanted to delete, split, or merge a cell.

In [ ]:
cell - where you write the code

cell can be of two types

1. coding cell - where you can write only the python code

2. markdown cell - where you can write anything (notes)

In [ ]:
Jupytr notebook extension:-
.py and .ipynb

In [ ]:
What is the difference between a .py file and .ipynb file?

.py is a regular python file. It's plain text and contains just your code.

.ipynb is a python notebook and it contains the notebook code, the execution results and other internal settings in a specific format. You can just run .ipynb on the jupyter environment.

In [ ]:
PYTHON-
CORE PYTHON 
NUMPY
PANDAS
MATPLOTLIB/SEABORN

# LETS START WORKING ON PYTHON -- JUPYTR NOTEBOOK

#### print statement are used to print something on the screen

# Print Statment
## print Statment
### print statment
#### print statement
##### print statement

print statement are used to print something on the screen

1. point1
2. point2
3. point3

In [2]:
print('Siddhant')

Siddhant

In [9]:
print(10+20)

30

In [8]:
print("10")

10

In [4]:
print("we are learning python")

we are learning python

In [5]:
print(we are learning python)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2661497197.py, line 1)

In [6]:
print('we are learning python')

we are learning python

jupyter notebook -- filename.ipynb (interactive python notebook)

uniserval extension python file - filename.py

#  ways to execute python file

1. jupyter notebook
2. python interpreter  -- > python shell --> area where we can write python code
3. pyhton file and "RUN" through terminal

In [333]:
"""hello world
hello
hello
hello
hi
pune
"""

'hello world\nhello\nhello\nhello\nhi\npune\n'

In [335]:
#hello world

In [ ]:
# literals

- any value that you see in programming language

types of literals

1. int literals - any value without a decimal point for eg 10, 200, -900,1000
2. float literals - any value with a decimal point for 10.0 , -99.999 , 100.23
3. complex literals - any number that can be represented in the form of a+bj where a is real and b is 
imaginary for eg , 10+6j , -11-7j
4. None literals - None
5. Boolean literals - any value that is True / False
6. string - any value that can be wriiten inside a '...' , "...." , """..."""

In [10]:
a = 10 # int
b = -22.0 # float
c = True # boolean
d = 'Mithil' # string
e = None # none
f = 200-7j # complex

# 10 , -22.0 , True etc thes are called as literlas

In [2]:
print(a)

10

In [11]:
print(d)

Mithil

In [12]:
d="Abhishek"

In [13]:
print(d)

Abhishek

In [14]:
a=100

In [16]:
print(a)

100

In [17]:
print(A)

NameError: name 'A' is not defined

constant and varibale are subset of indentifiers

identifiers - any name used in python prohram so it can be a constant name , varibale name , 
class name , function

Rules - 

1. allowed characters A-Z , a-z , 0-9 , _
2. not allowed characters special characters
3. you cannot start with a number 0-9
4. Identifers are case sensitive
5. all letters for constant should be capital (optional)
6. Reserved word should not be used as identifer

In [18]:
#  allowed characters A-Z , a-z , 0-9 , _

abc = 20

# a - varibale
# = - op
# 20 - literal

In [19]:
# you cannot start with a number 0-9

abhi10 = 20

In [20]:
10abhi = 50

SyntaxError: invalid decimal literal (2823653107.py, line 1)

In [21]:
# Identifers are case sensitive

a = 10
A = 20
print("A is ",A)
print("a is",a)

A is  20
a is 10

In [22]:
# Identifers are case sensitive

a = 10
A = 20
print("A is \n",A)
print("a is   print in next line  \n   ",a)

A is
 20
a is   print in next line
    10

In [23]:
# Reserved word should not be used as identifer

"""
Reserved words - are those words which is alrerady takken by python for internal use
"""

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [24]:
while = 100

SyntaxError: invalid syntax (805873029.py, line 1)

NEXT TOPIC:-

Types of operation that we can perform on integers

In [25]:
print(10+2) # +

print(10-2) # -

print(10*2) # *

print(10/2) # but the answer will be always in the float

print(10/3)

print(10.0//3) #floor divsion

print(10//3.0)

print(10%3) # modulo --> remainder

print(15%4)

print(100**2)

print(pow(100,2))

12
8
20
5.0
3.3333333333333335
3.0
3.0
1
3
10000
10000

In [17]:
# Comaprison operator , > , >= , <= , <

"""
- it always gives the output(return) value inf form True / False (Bool)
- int vs int
- float vs float
- int vs float
- str vs str
"""

'\n- it always gives the output(return) value inf form True / False (Bool)\n- int vs int\n- float vs float\n- int vs float\n- str vs str\n'

In [26]:
a = 100
b = 20

print(a<b)

False

In [27]:
a = 100
b = 20

print(a>b)

True

In [20]:
a = 10
b = 20.5

print(a<=b)

True

In [28]:
a = 'abc'
b = 100.0

print(a<b)

TypeError: '<' not supported between instances of 'str' and 'float'

In [30]:
a = 'abc'
b = "xyz"

print(a<b)

True

In [31]:
x="abc"
y="aac"
print(x<y)

False

In [32]:
a="z"
b="m"
print(a>b)

True

transformation of string to no. 
a,m,z

a-->0
m-->1
z-->2

if only m , z
- m-->0 z-->1

In [26]:
#it is following dictionary

In [33]:
a="xyz"

In [34]:
print(a)

xyz

In [35]:
b='abc'

In [30]:
print(b)

abc

In [38]:
a="""long sentence also 
longggggggg lonnngggggg"""
print(a)

long sentence also
longggggggg lonnngggggg

In [39]:
a="""long sentence also
longggggggg
lonnngggggg

qqqqqq
qqqqqqqq
ssa
ss

aaaaaa

"""

In [40]:
print(a)

long sentence also
longggggggg
lonnngggggg

qqqqqq
qqqqqqqq
ssa
ss

aaaaaa

In [33]:
a="hello lohngggg
longggggg"

SyntaxError: unterminated string literal (detected at line 1) (1172556285.py, line 1)

In [41]:
a = 'a'
b = "b"

print(a<b)

True

department:- sales,marketing,hrd
    hrd-->0
    marketing-->1
    sales-->2

In [35]:
# typecasting
# input and out function in python
# float
# none
# complex
# string - intro

In [42]:
# typecasting - converting one datatype to another

int()
float()
str()
complex()
bool()

list()
tuple()
dict()
set()

set()

In [44]:
a = 10
print(type( a))

# int to str

b = str(10)
print(type(b),b)

<class 'int'>
<class 'str'> 10

In [45]:
a+a

20

In [46]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
b+b

'1010'

In [49]:
x="india"
y="usa"

In [50]:
x+y

'indiausa'

In [43]:
# Input and output function in python

Input - which takes input from the user
- input fucntion always return a string data type

In [51]:
a = 20
b = 20

print(a+b)

40

In [52]:
# write a program to take first name and second name from user and print as a full name

a = (input('enter the first number value of a:'))
b = (input('enter the second number value of b'))
print(a+" "+b)

enter the first number value of a: 50
enter the second number value of b 100

50 100

In [53]:
a = input('enter the first number:')
b = input('enter the second number')

print(type(a),a)
print(type(b) ,b)

print(a+b)

# after giving the input press the enter button

enter the first number: 200
enter the second number 300

<class 'str'> 200
<class 'str'> 300
200300

In [54]:
'10'+'10'

'1010'

In [55]:
"Ram"+"shyam"

'Ramshyam'

In [1]:
a = float(input('enter the first number:'))
b = float(input('enetr the second number'))
print(type(a),a)
print(type(b) ,b)
print(a+b)

enter the first number: 400.5
enetr the second number 200.9

<class 'float'> 400.5
<class 'float'> 200.9
601.4

In [2]:
a = float(input('enter the first number:'))
b = float(input('enetr the second number'))
print(type(a),a)
print(type(b) ,b)
print(a-b)

enter the first number: 200.76
enetr the second number 300.98

<class 'float'> 200.76
<class 'float'> 300.98
-100.22000000000003

In [3]:
# eval
sums = 200
a = eval(input('enter the first number:'))
b = eval(input('enetr the second number'))
print(type(a),a)
print(type(b) ,b)
print(a+b)

enter the first number: 400.87
enetr the second number 56.98

<class 'float'> 400.87
<class 'float'> 56.98
457.85

In [59]:
# write a program to take first name and second name from user and print as a full name

a = (input('enter the first name:'))
b = (input('enetr the second name'))
print(a+" "+b)

enter the first name: ajay
enetr the second name jay

ajay jay

In [55]:
a = (input('enter the first number:'))
b = (input('enetr the second number'))
print(a,b)

enter the first number:30
enetr the second number40
30 40

In [60]:
First_Name = eval(input("Enter first name : ") )
Last_Name = eval(input("Enter last name : ")) 
print("My First name is :", First_Name,"and my Last name is :",Last_Name)

Enter first name :  mks

NameError: name 'mks' is not defined

Python provides us with a number of in-built data structures such as lists, tuples and dictionaries
that are used to store and organize the data in an efficient manner.

list=[]
tuple=()
dictionary={}

In [ ]:
# String Data type

In [ ]:
#anything that can be written inside a '...' . "..." , """...."""

In [1]:
s1 = 'python'
print(s1, type(s1))
s1 = "python"
print(s1, type(s1))
s1 = """python"""
print(s1, type(s1))

python <class 'str'>
python <class 'str'>
python <class 'str'>

In [2]:
a = "this is python's class"
print(a)

this is python's class

In [3]:
a = 'this is a "GBU" class'
print(a)

this is a "GBU" class

In [ ]:
a ="""this is a
single quotes"""

print(a)

In [ ]:
'''
hey this a 
a multiple """line""" commenet
'''

print('hey')

In [4]:
100

print('hey')

hey

# list

In [ ]:
# list

- anything that can be wriiten inside a [ ] and elements are sep by commas

In [4]:
a = [1,2,3,4,5]
print(type(a))

<class 'list'>

In [6]:
b=[10,-2.30,0.7,20,700]

In [7]:
print(type(b))

<class 'list'>

In [8]:
# len of list

a = [1,2,3,4,5,10,20]
print(len(a))

7

In [9]:
len(b)

5

In [59]:
a = [1,2,3,4,5]
# forward direction indexing 0,1,2,3,4,5,6,........
#backward direction indexing .....,-4,-3,-2,-1

In [10]:
a = [10,20,30,40,50,60,70,80,90,100]

In [11]:
print(a[-2])

print(a[1])
print(a[-1])
print(a[-6])
print(a[0])
print(a[3])

90
20
100
50
10
40

In [12]:
# indexing
#supports +ve and -ve indexing

a = [1,2,3,4,5,6]

print(a[-2])

print(a[1])
print(a[-1])
print(a[-6])
print(a[0])
print(a[3])

5
2
6
1
1
4

In [13]:
#allows duplicate element

a = [1,1,1,1,1,1,1,1,1]

print(a)
print(type(a))

[1, 1, 1, 1, 1, 1, 1, 1, 1]
<class 'list'>

In [14]:
#it can store any data type

a = [1 , 2.2 , 10+6j , None , (1,2,3) , 'abc' , True , False]
print(a)

[1, 2.2, (10+6j), None, (1, 2, 3), 'abc', True, False]

In [15]:
#sorting
l = [4,1,6,8,3,4.9,56]

l.sort()
l

[1, 3, 4, 4.9, 6, 8, 56]

In [16]:
l1 = [4,1,6,8,3,4.9,'56']

In [17]:
#l = [4,1,6,8,3,4.9,'56']

l1.sort()
l1

TypeError: '<' not supported between instances of 'str' and 'float'

In [18]:
# sorting in descending order

l = [6,4,7,8,9,2,3,4]
l.sort(reverse = True)
l

[9, 8, 7, 6, 4, 4, 3, 2]

In [19]:
l = [6,4,7,8,9,2,3,4]
l.sort()
l

[2, 3, 4, 4, 6, 7, 8, 9]

In [20]:
# clear

a = [1,2,3,4,5,6,10,20]
print(a)

a.clear()
print(a)

[1, 2, 3, 4, 5, 6, 10, 20]
[]

In [27]:
# insert

a = [10,20,30,40,10]
print("old a ",a)

old a  [10, 20, 30, 40, 10]

In [28]:
a.insert(7,100)
print("new a ",a)

new a  [10, 20, 30, 40, 10, 100]

In [29]:
z = [1,2,3,4,5,6,10,20]
print("old z ",z)
z.insert(3,100)
print("new z ",z)

old z  [1, 2, 3, 4, 5, 6, 10, 20]
new z  [1, 2, 3, 100, 4, 5, 6, 10, 20]

In [30]:
z

[1, 2, 3, 100, 4, 5, 6, 10, 20]

In [31]:
z.insert(-1,500)
print("new z ",z)

new z  [1, 2, 3, 100, 4, 5, 6, 10, 500, 20]

In [82]:

z[-1]

20

In [83]:
z[0]

1000

In [32]:
z.insert(0,1000)
print("new z ",z)

new z  [1000, 1, 2, 3, 100, 4, 5, 6, 10, 500, 20]

In [33]:
a = [1,2,3,4,5]
a.append(100)
a

[1, 2, 3, 4, 5, 100]

In [34]:
a = [1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [35]:
# index
"""
returns the index of the element

"""

l1 = [10,12,30]
l1.index(10)

0

In [36]:
l1 = [10,12,30]
l1.index(30)

2

In [37]:
l1 = [10,12,30,10,10,30,20]
l1.index(10)

0

# tuple

# tuple

- anything that can be written inside a () and elements are sep by commas

In [38]:
a = (1,2,3,4,5,6)
print(type(a) , a)

<class 'tuple'> (1, 2, 3, 4, 5, 6)

In [39]:
tup1 = ('orange' , 'apple' , 'banana')
print(tup1)

('orange', 'apple', 'banana')

In [40]:
#taking user input

tup1 = eval(input('enter the input'))
print(tup1 , type(tup1))

enter the input 2000

2000 <class 'int'>

In [41]:
#allows duplicate ele

a = (1,1,1,1,2,2,2,3,3,3,4,4)
print(a)

(1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4)

In [42]:
#can store any data type

a = (1 , 1.2 , None , [1,2,3], 'abc' , True)
print(a)

(1, 1.2, None, [1, 2, 3], 'abc', True)

In [44]:
#can store any data type

a = (1 , 1.2 , None , (1,2,3),[120,20,30,"hello"], 'abc' , True)
print(a)

(1, 1.2, None, (1, 2, 3), [120, 20, 30, 'hello'], 'abc', True)

In [47]:
#indexing
print(a)
print(a[0])
print(a[1])
print(a[-1])
print(a[2])
print(a[3])
print(a[-2])

(1, 1.2, None, (1, 2, 3), [120, 20, 30, 'hello'], 'abc', True)
1
1.2
True
None
(1, 2, 3)
abc

# Dictionary

In [48]:
# dic- it represent structure data { }


dic_a = {10,20,30,40}


print(dic_a)
#print(dic_a['age'])
print(dic_a['salary'])

{40, 10, 20, 30}

TypeError: 'set' object is not subscriptable

In [49]:
# dic- it represent structure data { }


dic_a = {'name': 'ajay', 'age':24 , 'salary':24000}


print(dic_a['name'])
print(dic_a['age'])
print(dic_a['salary'])

ajay
24
24000

In [51]:
# dic- it represent structure data { }


dic_a = {'name': 'ajay', 'age':24 , 'salary':24000,"Mob_no":8800006767}


dic_a

{'name': 'ajay', 'age': 24, 'salary': 24000, 'Mob_no': 8800006767}

In [52]:
dic_a["name"]

'ajay'

In [53]:
print(dic_a['name'])
print(dic_a['age'])
print(dic_a['salary'])

ajay
24
24000

In [82]:
dic_a = {'age':24 , 'name': 'ajay' , 'salary':50000}


print(dic_a['name'])
print(dic_a['age'])
print(dic_a['salary'])

ajay
24
50000

In [83]:
# 1. it is a collection of key value pair
# 2.  key,value pair is called item
# 3. items are sep by ,
# 4. key and value are sep by :
# 5. all the items are into {}

a = {'name':'ajay' , 'age':24}

In [54]:
#key cannot be duplicated whereas value can be duplicated


# key cannot be duplicated
a = {'age':100 ,  'name':'ajay' , 'age':40 , 'age':35}
print(a)

{'age': 35, 'name': 'ajay'}

In [57]:
# key cannot be duplicated
a = {'age':20 ,  'name':'ajay' , 'age':45 , 'age':75,"salary":50000}
print(a)

{'age': 75, 'name': 'ajay', 'salary': 50000}

In [58]:
# value can be duplicated
a = {'name':'ajay' , 'age':24 , 'roll no':24}
print(a)

{'name': 'ajay', 'age': 24, 'roll no': 24}

In [59]:
# dic is not a seq data type

dic_a = {'name':'ajay' , 'lastname':'singh'}
dic_a

{'name': 'ajay', 'lastname': 'singh'}

In [60]:
dic_a[0]

KeyError: 0

In [61]:
#membership op - only on keys

dic_a = {'name':'Ajay' , 'lastname':'singh'}

print('name' in dic_a)
print('age' in dic_a)

True
False

In [62]:
a = {'name':'ajay' , 'age':24 , 'roll no':24}
print(a)
print('name' in a)
print('age' in a)
print("mob_no" in a)

{'name': 'ajay', 'age': 24, 'roll no': 24}
True
True
False

In [63]:
 #it is mutable

dic_a = {'name':'Ajay' , 'lastname':'singh'}

dic_a['name'] = "rahul"

print(dic_a)

{'name': 'rahul', 'lastname': 'singh'}

# Python List Slicing

In [ ]:
Python List Slicing Syntax

In [ ]:
df[ Initial : End : IndexJump ]

In [ ]:
If df is a list, then the above expression returns the portion of the list from index Initial to index End, 
at a step size IndexJump.

In [ ]:
Positive Indexes

In [ ]:
In the case of Positive Indexing, the first element of the list has the index number 0, and the 
last element of the list has the index number N-1, where N is the total number of elements in the list (size of the list).

In [65]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[::])

[50, 70, 30, 20, 90, 10, 50]

In [67]:
print(Lst[1::5])

[70, 50]

In [ ]:
Negative Indexes

In [ ]:
negative indexes. Index -1 represents the last element and -N represents the first element of the list, 
where N is the length of the list.

In [151]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[-7::1])

[50, 70, 30, 20, 90, 10, 50]

In [76]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[-6::2])

[70, 20, 10]

In [75]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[-7::3])

[50, 20, 50]

In [77]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[2::3])

[30, 10]

In [72]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[1::3])

[70, 90]

In [78]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[3:5])

[20, 90]

In [ ]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[0:5:3])

In [ ]:
Example 1: Leaving any argument like Initial, End, or IndexJump blank will lead to the use of default values i.e. 0 as Initial, 
    length of the list as End, and 1 as IndexJump.

In [153]:
# Initialize list
List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
 
# Show original list
print("Original List:\n", List)
 
print("\nSliced Lists: ")
 
# Display sliced list
print(List[3:9:2])
 
# Display sliced list
print(List[::2])
 
# Display sliced list
print(List[::])

Original List:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

Sliced Lists:
[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Example 2: A reversed list can be generated by using a negative integer as the IndexJump argument. 
    Leaving the Initial and End as blank. We need to choose the Initial and End values according to 
    a reversed list if the IndexJump value is negative.

In [155]:
# Initialize list
List = ['hello', 4, 'world !']
 
# Show original list
print("Original List:\n", List)
 
print("\nSliced Lists: ")
 
# Display sliced list
print(List[::-1])
 
# Display sliced list
print(List[::-3])
 
# Display sliced list
print(List[:1:-2])

Original List:
 ['hello', 4, 'world !']

Sliced Lists:
['world !', 4, 'hello']
['world !']
['world !']

Example 3: By concatenating sliced lists, a new list can be created or even a pre-existing list can be modified.

In [156]:
# Initialize list
List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
 
# Show original list
print("Original List:\n", List)
 
print("\nSliced Lists: ")
 
# Creating new List
newList1 = List[:3]
newList2 = List[7:] 

newList3 = List[:3]+List[7:] 


# Display sliced list
print("new list 1  :", newList1)
print("new list 2  :", newList2)
print("new list 3  :", newList3) 

# Changing existing List
List4 = List[::2]
List5 = List[1::2]
List6 = List[::2]+List[1::2]
# Display sliced list
print("List 4 :",List4)
print("List 5 :",List5)
print("List 6 :",List6)

Original List:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

Sliced Lists:
new list 1  : [1, 2, 3]
new list 2  : [8, 9]
new list 3  : [1, 2, 3, 8, 9]
List 4 : [1, 3, 5, 7, 9]
List 5 : [2, 4, 6, 8]
List 6 : [1, 3, 5, 7, 9, 2, 4, 6, 8]

# Summary of slicing:-

In [ ]:
a[start:stop]  # items start through stop-1
a[start:]      # items start through the rest of the array
a[:stop]       # items from the beginning through stop-1
a[:]           # a copy of the whole array

In [ ]:
There is also the step value, which can be used with any of the above:

a[start:stop:step] # start through not past stop, by step

The key point to remember is that the :stop value represents the first value that is not in the selected slice. 
    So, the difference between stop and start is the number of elements selected (if step is 1, the default).

In [ ]:
The other feature is that start or stop may be a negative number, which means it counts from the end of
the array instead of the beginning. So:

In [ ]:
a[-1]    # last item in the array
a[-2:]   # last two items in the array
a[:-2]   # everything except the last two items

In [157]:
a=[1,2,3,4,5,6,7,8,9]

In [158]:
a[-1]    # last item in the array
print(a[-1])

9

In [159]:
a[-2:]   # last two items in the array
print(a[-2:])

[8, 9]

In [160]:
a[:-1]# everything except the last one item
print(a[:-1])

[1, 2, 3, 4, 5, 6, 7, 8]

In [161]:
a[:-2]   # everything except the last two items
print(a[:-2])

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
Similarly, step may be a negative number:

In [ ]:
a[::-1]    # all items in the array, reversed
a[1::-1]   # the first two items, reversed
a[:-3:-1]  # the last two items, reversed
a[-3::-1]  # everything except the last two items, reversed

In [162]:
a[::-1]    # all items in the array, reversed
print(a[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [163]:
a[1::-1]   # the first two items, reversed
print(a[1::-1])

[2, 1]

In [164]:
a[:-3:-1]  # the last two items, reversed
print(a[:-3:-1])

[9, 8]

In [165]:
a[-3::-1]  # everything except the last two items, reversed
print(a[-3::-1])

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
nested list

In [ ]:
#list inside a list is called as nested list

In [1]:
a = [1,2,3,[10,11,12]]

a[3][1]

11

In [2]:
[10, 11, 12][0]

10

In [3]:
b = [[1,2,3,4] , ['GBU' , 'MITHIL' , 'hello'] , [None , True , False]]

b[-2][-2]

'MITHIL'

In [4]:
c = [[1,2,4] , [5,6,7] , [8,[9,10, ['a' , 'b']]]]

# extract a for me
c[2][1][-1][0]

'a'

In [8]:
c = [[1,2,4] , [5,6,'Mithil' , ['messi' , 'ronaldo' , ['messiandronaldo']]] , [8,[9,10, ['a' , 'b']]]]


# 1 - extract messi from messiandronaldo
c[1][-1][-1][0][:5]

'messi'

In [9]:
# 2 - revser the string 'Mithil'
c[1][2][::-1]

'lihtiM'

In [11]:
#reversing the string
x="Noida"

In [12]:
x[::-1]

'adioN'

In [ ]:
# Methods to insert element into list

1. append
2. extend
3. insert

In [15]:
# append
"""
appends an element to the end of the list
you can only enter one element at a time
"""
a = [1,2,3]
a.append([1,2,3])

In [16]:
print(a)

[1, 2, 3, [1, 2, 3]]

In [17]:
# 2. extend
"""
extent is similar to concatinatio but the object is getting changed in extend

 - merges two list
"""
a = [1,2,3,4]
b = [10,11,12,13]

a.extend(b)

In [18]:
print(a)

[1, 2, 3, 4, 10, 11, 12, 13]

In [19]:
a = [1,2,3,4]
b = [10,11,12,13]

a+b

[1, 2, 3, 4, 10, 11, 12, 13]

In [20]:
a

[1, 2, 3, 4]

In [21]:
b

[10, 11, 12, 13]

In [22]:
a = [1,2,3,4]
b = [10,11,12,13]

a.append(b)

In [23]:
a

[1, 2, 3, 4, [10, 11, 12, 13]]

In [24]:
# 3 insert

"""
insert method insert the value at a particular index

syntax - list.insert(index , element to be inserted)

only one element at a time

"""

l1 = [1,2,3]

l1.insert(0,6)

print(l1)

[6, 1, 2, 3]

In [ ]:
# removing the elements from the list

1. pop
2. remove

In [25]:
# 1) #pop
"""
removes the ele by index

pop() deafult removes the last element


it is the only method that returns a value

syntax = l1.pop(index)

"""

l1 = [1,2,3,4,5]
print(l1.pop())

l1 = [1,2,3,4,5]
print(l1.pop(0))
print(l1)

5
1
[2, 3, 4, 5]

In [26]:
# remove
"""
removes the specified value from a list

only removes the first occurance
"""
a= [1,2,3,4,5]
a.remove(5)
a

[1, 2, 3, 4]

In [27]:
a= [1,1,1,2,2,3,4,5,6]
a.remove(1)
a

[1, 1, 2, 2, 3, 4, 5, 6]

In [29]:
# count - count and returns the occurance of a value

a = [1,1,1,2,2,3,3,4,4,5,6]
a.count(5)

1

In [30]:
a.count(1)

3

In [ ]:
# more about Dictionary

In [31]:
a = ['Mithil' , 24 , 70000]

#name
print(a[0])
print(a[1])
print(a[2])

Mithil
24
70000

In [32]:
# dic- it represent structure data

a = ['Mithil' , 24 , 70000]
dic_a = {'name': 'Mithil', 'age':24 , 'salary':70000}

# solving problem 1
print(dic_a['name'])
print(dic_a['age'])
print(dic_a['salary'])

Mithil
24
70000

In [33]:
dic_a = {'age':24 , 'name': 'Mithil' , 'salary':70000}

# solving problem 1
print(dic_a['name'])
print(dic_a['age'])
print(dic_a['salary'])

Mithil
24
70000

In [ ]:
# Properties of dict

1. it is a collection of key value pair
2.  key,value pair is called item
3. items are sep by ,
4. key and value are sep by :
5. key cannot be duplicated whereas value can be duplicated
6. key is always immutable data type
7. value can be any data type( mutable , immutable)
8. all the items are into {}
9. dict is not a seq data type - no slicing , no indexing , no condcatination , no repition
10. membership is applicable only on keys
11. identity op os possible
12. dic is mutable

In [35]:
# 1. it is a collection of key value pair
# 2.  key,value pair is called item
# 3. items are sep by ,
# 4. key and value are sep by :
# 8. all the items are into {}

a = {'name':'Mithil' , 'age':24}
print(a)

{'name': 'Mithil', 'age': 24}

In [37]:
# 5. key cannot be duplicated whereas value can be duplicated


# key cannot be duplicated
a = {'age':100 ,  'name':'Mithil' , 'age':40 , 'age':35}
print(a)

# value can be duplicated
a = {'name':'Mithil' , 'age':24 , 'salary':70000}
print(a)

{'age': 35, 'name': 'Mithil'}
{'name': 'Mithil', 'age': 24, 'salary': 70000}

In [38]:
# 6. key is always immutable data type

# imuatble
# - str
# - tuple
# - int
# - float
# - True
# - False
# - complex

a = {[1,2,3]:'Mithil'}
print(a)

TypeError: unhashable type: 'list'

In [ ]:
# here we have taken the key as a list which is mutable

In [39]:
# 7. value can be any data type( mutable , immutable)

a = {1:[1,2,3,4]}
print(a)

{1: [1, 2, 3, 4]}

In [40]:
# dic is not a seq data type

dic_a = {'name':'Mithil' , 'lastname':'singh'}

dic_a[0]

KeyError: 0

In [41]:
# concatination

dic_a = {'name':'Mithil' , 'lastname':'singh'}

dic_b = {'name':'Mithil' , 'lastname':'singh'}


dic_a + dic_b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [42]:
# repitioion

dic_a = {'name':'Mithil' , 'lastname':'singh'}
a = 2

dic_a * a

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [43]:
# 10. membership op - only on keys

dic_a = {'name':'Mithil' , 'lastname':'Singh'}

print('name' in dic_a)

True

In [44]:
6 in [1,2,3,4]

False

In [45]:
4 in [1,2,3,4]

True

In [46]:
# 11. identity op

dic_a = {'name':'Mithil' , 'lastname':'singh'}
print(id(dic_a))

dic_b = {'name':'Mithil' , 'lastname':'Singh'}
print(id(dic_b))


print(dic_a is dic_b)

1876663282048
1876682968832
False

In [47]:
# 12 it is mutable

dic_a = {'name':'Mithil' , 'lastname':'Singh'}

dic_a['name'] = "rahul"

print(dic_a)

{'name': 'rahul', 'lastname': 'Singh'}

In [52]:
a={'name':("Mithil","vinay"), 'age':(24,21)} 
a['name'][0]

'Mithil'

In [53]:
a['age']

(24, 21)

In [55]:
employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}

employee_data['emp2']['name']

'rahul'

In [56]:
employee_data['emp2']['age']

32

In [57]:
employee_data = {'emp1':{'name':'afsan' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}

employee_data['emp1']['courses'][1][::-1]

'gninrael enihcam'

In [ ]:
#reverse [::-1]

In [ ]:
# Update the dic

In [58]:
# 1. if key is not present
employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}


employee_data['emp3'] = 100

print(employee_data)

{'emp1': {'name': 'Mithil', 'age': 22, 'courses': ['ai', 'machine learning']}, 'emp2': {'name': 'rahul', 'age': 32}, 'emp3': 100}

In [59]:
employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}


employee_data['emp3'] = {'name':'Priya' ,'age':20 }

print(employee_data)

{'emp1': {'name': 'Mithil', 'age': 22, 'courses': ['ai', 'machine learning']}, 'emp2': {'name': 'rahul', 'age': 32}, 'emp3': {'name': 'Priya', 'age': 20}}

In [60]:
# 2. if key is present

employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}


employee_data['emp1'] = 200

print(employee_data)

{'emp1': 200, 'emp2': {'name': 'rahul', 'age': 32}}

In [61]:
employee_data = {'emp1':{'name':'afsan' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}


employee_data['emp1']['mobile no.'] = 8888888888

print(employee_data)

{'emp1': {'name': 'afsan', 'age': 22, 'courses': ['ai', 'machine learning'], 'mobile no.': 8888888888}, 'emp2': {'name': 'rahul', 'age': 32}}

In [ ]:
#1. method to add and access the element from the dic

1. get
2. update

get
if the key is present it returns the value , else deafult value

In [62]:
# 1. if key is present

employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}


employee_data.get('emp1')

{'name': 'Mithil', 'age': 22, 'courses': ['ai', 'machine learning']}

In [63]:
# 2. if key is not present

employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}

print(employee_data.get('emp3'))

None

In [64]:
# customise the message

employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}

employee_data.get('emp1', 'key is not present')

{'name': 'afsan', 'age': 22, 'courses': ['ai', 'machine learning']}

In [66]:
# customise the message

employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}

employee_data.get('emp3', 'key is not present')

'key is not present'

In [67]:
employee_data['emp1']

{'name': 'Mithil', 'age': 22, 'courses': ['ai', 'machine learning']}

In [68]:
employee_data['emp3']

KeyError: 'emp3'

In [69]:
# 2. update

# updated method is similar to extent in list
employee_data = {'emp1':{'name':'Mithil' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}


new_data = {'emp4': {'name':'aditya'} , 'emp5': {'name':'soniya'}}

employee_data.update(new_data)

print(employee_data)

{'emp1': {'name': 'Mithil', 'age': 22, 'courses': ['ai', 'machine learning']}, 'emp2': {'name': 'rahul', 'age': 32}, 'emp4': {'name': 'aditya'}, 'emp5': {'name': 'soniya'}}

In [70]:
a={'emp1':{'name':'varun', 'age':32,'courses':['ai','machine learning']},'emp2':{'name':'priyanka', 'age':24}}
a.update({'emp2':'piyush'})

In [71]:
a

{'emp1': {'name': 'varun', 'age': 32, 'courses': ['ai', 'machine learning']},
 'emp2': 'piyush'}

In [72]:
a = {'emp1' : {'name':'preeti'} , 'emp2':{'name':'afsaan'}}

b = {'emp3' : {'name':'jai'} , 'emp2':{'name':'sanjaya'}}


a.update(b)

a

{'emp1': {'name': 'preeti'},
 'emp2': {'name': 'sanjaya'},
 'emp3': {'name': 'jai'}}

In [76]:
a={'emp1' : {'name':'preeti'} , 'emp2':{'name':'afsaan'}, 'emp3' : {'name':'jai'} , 'emp2':{'name':'sanjaya'}}

In [77]:
a

{'emp1': {'name': 'preeti'},
 'emp2': {'name': 'sanjaya'},
 'emp3': {'name': 'jai'}}

In [74]:
a = {'emp1' : {'name':'preeti' , 'roll':56} , 'emp2':{'name':'afsaan'}}

a.get('emp1').get('roll')

56

In [75]:
a['emp1']['roll']

56

In [ ]:
Memory Management in Python

Understanding Memory allocation is important to any software developer as writing efficient code means writing a memory-efficient code. Memory allocation can be defined as allocating a block of space in the computer memory to a program. In Python memory allocation and deallocation method is automatic as the Python developers created a garbage collector for Python so that the user does not have to do manual garbage collection.

In [78]:
x=10
id(x)

140729373344840

In [80]:
y = x 
print(id(x))
print(id(y))

if id(x) == id(y): 
    print("x and y refer to the same object")

140729373344840
140729373344840
x and y refer to the same object

In the above example, y = x will create another reference variable y which will refer to the same object because Python optimizes memory utilization by allocation the same object reference to a new variable if the object already exists with the same value.

In [ ]:
Now, let’s change the value of x and see what happens.

In [81]:
x = 10
y = x 
x += 1
print(id(x))
print(id(y)) 

if id(x) != id(y): 
    print("x and y do not refer to the same object")

140729373344872
140729373344840
x and y do not refer to the same object

In [82]:
x = 100
y = x 
x += 5
if id(x) == id(y): 
    print("x and y refer to the same object") 
else:
    print("x and y do not refer to the same object")

x and y do not refer to the same object

In [ ]:
Garbage Collection

In [ ]:
Garbage collection is a process in which the interpreter frees up the memory when not in use to make it available for other objects.
Assume a case where no reference is pointing to an object in memory i.e. it is not in use so, the virtual machine has a garbage collector that automatically deletes that object from the heap memory

Python’s memory allocation and deallocation method is automatic. The user does not have to preallocate or deallocate memory similar to using dynamic memory allocation in languages such as C or C++. 
Python uses two strategies for memory allocation: 

Reference counting
Garbage collection

Reference counting
Python and various other programming languages employ reference counting, a memory management approach, to automatically manage memory by tracking how many times an object is referenced. A reference count, or the number of references that point to an object, is a property of each object in the Python language. When an object’s reference count reaches zero, it becomes un-referenceable and its memory can be freed up.

Examples :

Example 1: Simple Reference Counting

In [95]:
# Create an object
x = [1, 2, 3]
print(id(x)) 
# Increment reference count
y = x
print(id(y)) 
# Decrement reference count
y = None
print(id(y))

1876697973312
1876697973312
140729371953936

Example 2: Reference Counting with Cyclic Reference

In [96]:
# Get reference count
import sys
ref_count = sys.getrefcount(x)
 
print("Reference count of x:", ref_count)

Reference count of x: 2

In [97]:
z=x

In [98]:
ref_count = sys.getrefcount(x)
 
print("Reference count of x:", ref_count)

Reference count of x: 3

In [99]:
m=x

In [100]:
ref_count = sys.getrefcount(x)
 
print("Reference count of x:", ref_count)

Reference count of x: 4

In [83]:
# Create two objects that refer to each other
x = [1, 2, 3]
y = [4, 5, 6]
print(id(x))
print(id(y))
x.append(y)
print(x)
print(id(x))
y.append(x)
print(y)
print(id(y))

1876698461120
1876698455552
[1, 2, 3, [4, 5, 6]]
1876698461120
[4, 5, 6, [1, 2, 3, [...]]]
1876698455552

In [ ]:
Garbage collection

Garbage collection is a memory management technique used in programming languages to automatically reclaim memory that is no longer accessible or in use by the application. It helps prevent memory leaks, optimize memory usage, and ensure efficient memory allocation for the program.

In [ ]:
Automatic Garbage Collection of Cycles

Because reference cycles take computational work to discover, garbage collection must be a scheduled activity. Python schedules garbage collection based upon a threshold of object allocations and object deallocations. When the number of allocations minus the number of deallocations is greater than the threshold number, the garbage collector is run. One can inspect the threshold for new objects (objects in Python known as generation 0 objects) by importing the gc module and asking for garbage collection thresholds:

In [101]:
# loading gc
import gc
 
# get the current collection 
# thresholds as a tuple
print("Garbage collection thresholds:",
                    gc.get_threshold())

Garbage collection thresholds: (700, 10, 10)

Here, the default threshold on the above system is 700. This means when the number of allocations vs. the number of deallocations is greater than 700 the automatic garbage collector will run. Thus any portion of your code which frees up large blocks of memory is a good candidate for running manual garbage collection.

# please do more practice through GOOGLE sites , online sites

In [ ]:
# website to practice

https://www.hackerrank.com/

https://leetcode.com/

# conditional_statments

In [90]:
if statement

SyntaxError: expected ':' (3652566818.py, line 1)

In [91]:
a = 33
b=100
if a<b:
    print ("value of a",a)

print('hello')

value of a 33
hello

In [92]:
a = 33
b = 333
if b>a:
    print('messi')
print('hello')

messi
hello

In [93]:
a = 3333
b = 333
if b>a:
    print('messi')
if b==33:
    print('ronaldo')
if a<100:
    print('neymr')
else:
    print('mbappe')
print('hello')

mbappe
hello

In [94]:
a = 33
b = 333
if b<a:
    print('messi')
elif b==33:
    print('ronaldo')
elif a<100:
    print('neymr')
else:
    print('mbappe')
print('hello')

neymr
hello

In [95]:
a = 200
b = 100
c = 700

if a>b and c >a:
    print('pallavi')
elif not False:
    print('vinjay')
elif bool(44):
    print('mithilesh')
else:
    print('vijay')
print('Rajesh')

pallavi
Rajesh

In [96]:
a = 200
b = 100
c = 700

if a<b or c<a:
    print('pallavi')
elif not False:
    print('vijay')
elif bool(44):
    print('Prakash')
else:
    print('ali')
print('Rajesh')

vijay
Rajesh

In [97]:
a = 200
b = 100
c = 700

if a<b or c<a:
    print('pallavi')
elif not True:
    print('vijay')
elif bool(''):
    print('Mithilesh')
else:
    print('ali')
print('Rajesh')

ali
Rajesh

In [98]:
# nested if - if inside if

x = 9.9

if x>10:
    print('hey')
    if x>20:
        print('hello')
    else:
        print('bye')
else:
    print('world')

world

In [99]:
x = 4.9

if x<10:
    print('hey')
    if x<5:
        print('hello')
    else:
        print('bye')
else:
    print('world')

hey
hello

###  take a user input as a number from 0-4 and print the number in the word format
"""
2 ---> two
4 --> four
<0 and >4 --> invalid number

"""

In [101]:
num = int(input('enter the number'))
if num == 0:
    print('zero')
elif num == 1:
    print('one')
elif num == 2:
    print('two')
elif num == 3:
    print('three')
elif num == 4:
    print('four')
else:
    print('number not in range')

enter the number100
number not in range